path "${kv_mount_path}/data/{{identity.entity.aliases.${kubernetes_auth_accessor}.metadata.service_account_namespace}}/{{identity.entity.aliases.${kubernetes_auth_accessor}.metadata.secret_name}}" {
  capabilities = ["read"]
}
